$TTL    86400
@   IN  SOA {{ dns1_test_local }}   {{ root_test_local }} (
        2019112201  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)

        IN  NS  {{ dns1_test_local }} 
{{ dns1_reverse_ip }}   IN  PTR {{ dns1_reverse_name }}
{{ dns2_reverse_ip }}   IN  PTR {{ dns2_reverse_name }}